/* CSS Variables for BlockEditor Theme Customization */

.blog-editor-container {
    /* Container */
    --block-editor-container-background: #fff;

    /* Toolbar */
    --block-editor-toolbar-background: #fff;
    --block-editor-toolbar-border: rgba(0, 0, 0, .05);
    --block-editor-toolbar-shadow: 0px 5px 9px -6px rgba(0, 0, 0, .1);
    --block-editor-toolbar-icon-color: rgba(0, 0, 0, .4);
    --block-editor-toolbar-icon-hover: rgba(0, 0, 0, .7);

    /* Buttons */
    --block-editor-publish-button-background: #000;
    --block-editor-publish-button-color: #fff;
    --block-editor-publish-button-hover: #333;
    --block-editor-back-button-color: rgba(0, 0, 0, .6);
    --block-editor-back-button-hover: rgba(0, 0, 0, .9);

    /* Content */
    --block-editor-text-color: #000;
    --block-editor-heading-color: #000;

    /* Inputs */
    --block-editor-input-border: rgba(0, 0, 0, .1);
    --block-editor-input-focus-border: rgba(0, 0, 0, .2);

    /* Date/Meta */
    --block-editor-date-color: rgba(0, 0, 0, .3);

    /* Dividers */
    --block-editor-divider-color: rgba(0, 0, 0, .3);

    /* Image delete button */
    --block-editor-image-delete-background: #fff;
    --block-editor-image-delete-color: red;
    --block-editor-image-delete-hover-color: darkred;
    --block-editor-image-delete-shadow: 0px 0px 19px -7px #000000;
    --block-editor-image-delete-hover-shadow: 0px 0px 25px -5px #000000;
}
